rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Temporarily make all collections readable and writable to anyone for testing
    match /{document=**} {
      allow read, write: if true;
    }
  }
}